<% include partials/header %>

<div class="container"><h1 style="text-align:center">Welcome <%= currentUser.username %> !</h1></div>

 <% blogs.forEach(function(blog){ %>
	<div class="container">
    <h2><%=blog.title %></h2>
    <img src="<%= blog.image %>">
    <br>
    <br>
    <p><b>created on <%= blog.date %></b></p>
   

    <hr>
    <p><%= blog.desc %></p>
    <hr>

    <ul class="list-group">
   <% blog.comments.forEach(function(com){ %>

   <li class="list-group-item"> <b><%= com.author %> - </b>     <%= com.content %> </li>

   <% }); %>
    </ul>

    <hr>

    <form action="/blogs/<%= blog._id %>/addcomment" method="GET"><button class="btn btn-primary"> Add a comment ! </button></form>

    <hr>

</div>

<% }); %>

<% include partials/footer %>