<% include partials/header %>

<div class="container"><h1 style="text-align:center; color:white">Welcome <%= currentUser.username %> !</h1></div>

 <% blogs.forEach(function(blog){ %>
	<div class="container" style="color:white;border: 1px solid white;margin-bottom:40px;padding:25px">
    <h2><%=blog.title %></h2>
    <img src="<%= blog.image %>">
    <br>
    <br>
    <p><b>created on <%= blog.date %></b></p>
   

    
    <p><%= blog.desc %></p>
    

    <ul class="list-group">
   <% blog.comments.forEach(function(com){ %>

   <li class="list-group-item" style="color:black"> <b><%= com.author %> - </b>     <%= com.content %> </li>

   <% }); %>
    </ul>

    

    <form action="/blogs/<%= blog._id %>/addcomment" method="GET"><button class="btn btn-primary"> Add a comment ! </button></form>

    

</div>

<% }); %>

<% include partials/footer %>